.signup {
  display: flex;
}
.signup__container {
  margin-left: 395px;

  text-align: center;
  padding-top: 10px;
}
.signup__title {
  width: 530px;
  height: 600px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgb(158 158 158 / 90%);
  border-radius: 10px;
  position: relative;
  top: 0;
}

.signup__title h2 {
  padding-top: 60px;
}

p a {
  color: #db7202;
}
.signup__form input {
  height: 40px;
  margin-bottom: 9px;
  width: 450px;
  border: 1.9px solid #ddd;
  border-radius: 6px;
}

.signup__FLname {
  display: flex;
  padding: 0 35px;
}
#lastname {
  margin-left: 7px;
}
.signup__container button {
  height: 45px;
  width: 455px;
  margin: 20px 0;
  background-color: #516cf0;
  border: 1px solid #3a59ef;
  border-radius: 4px;
  color: aliceblue;
  font-size: 18px;
}

.signup__container button:hover {
  background: #f17f04;
  border: #fe8402;
  cursor: pointer;
}

.signup__about {
  padding-top: 150px;
  width: 600px;
  padding-left: 40px;
}
#about {
  color: #f88409;
}
.signup__about button {
  background: #f17f04;
  border: 1px solid #fe8402;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  width: 190px;
  margin-top: 20px;
}
