body {
  font: 1.6rem helvetica;
  /* box-sizing: border-box; */
  background-color: #f0f2f5;
}
.row {
  background-image: url("https://www.evangadi.com/themes/humans/assets/images/misc/bg-svg-f.svg");
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.signin {
  padding: 30px;
  margin: 10px;
  width: 100%;
  height: 40rem;
  display: flex;
  /* border-radius: 1rem ; */
  align-items: center;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
}
.signinContainer {
  border: white 0.3rem solid;
  background-color: white;
  width: 26rem;
  padding: 1rem;
  border-radius: 0.7rem;
}
input {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  /* box-sizing: border-box; */
}

.password {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  /* box-sizing: border-box; */
  /* box-sizing: content-box; */
}

.flex {
  display: flex;
}
.flex input {
  margin: 2px;
}

h5 {
  text-align: center;
}

.already {
  text-align: center;
  font-size: 15px;
  justify-content: center;
}

.btn {
  width: 100%;
  background-color: #1877f2;
  border: none;

  padding: 15px 32px;

  margin: 2px 4px;

  color: white;
}
.about .text {
  color: #da7000;
}

.aboutbtn {
  background-color: #da7000;
  border: none;
  padding: 15px 32px;
  border-radius: 0.5rem;
  color: rgb(159, 68, 68);
}
/* .forget a{
    /* color: #1877F2; */
/* align-items: center; */
/* justify-content: center; */
/* display: flex; */
/* font-size: 1rem; */

.page {
  font-size: 1rem;
}
.page p {
  text-align: center;
}

a,
a:hover,
a:focus {
  color: #da7000;
}

.lorem {
  font-size: medium;
}

.about {
  margin-top: 120px;
  text-align: justify;
}