.bg{
  background-image: url("https://www.evangadi.com/themes/humans/assets/images/misc/bg-svg-f.svg");
  background-size: cover;
  background-position: center;
  background-color:whitesmoke;
  background-repeat: no-repeat;
   height: 900px; 

}

